asgiref
backports.zoneinfo;python_version<"3.9"
click
colorama
cssbeautifier
Django
djlint
EditorConfig
html-tag-names
html-void-elements
jsbeautifier
mysql
mysql-connector-python
pathspec
Pillow
pytils
PyYAML
regex
ruff
six
sqlparse
tomli
tqdm
tzdata
